* {
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 1440px;

}

body {
    background: rgb(245, 248, 255);
}

header {
    background-image: url(./images/Hero-bg.png);


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 50px 0px;

}

.nav-title {
    font-weight: 900px;
    font-size: 34px;
    color: #4e47ff;
}

.btn-all {
    font-weight: 700px;
    font-size: 16px;
    color: white;
    background-color: rgb(78, 71, 255);
    border-radius: 10px;
    border: none;
    padding: 12px 36px 12px 36px;
}

.banner {
    text-align: center;
    max-width: 937px;
    height: 400px;
    margin-top: 158px;
    align-items: center;
}

.banner-title {
    font-weight: 700px;
    font-size: 65px;
    color: rgb(37, 36, 50);
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

/* action-sectioin */
.action-section {
    max-width: 937px;
    margin-top: 80px;


}

.action-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.action-container {
    width: 50%;
    text-align: left;
}

.action-container-title {
    font-weight: 700px;
    font-size: 42px;
    color: rgb(37, 36, 50);
}

.action-container-description {
    font-weight: 400px;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 40px;

}

.action-image {
    width: 400px;
    height: 328px;
    border-radius: 48px;
}


/* productive-style */

.productive-section {
    max-width: 1016px;
    text-align: center;
    padding: 50px 80px 50px 80px;
    gap: 10px;
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1);
    margin-top: 100px;


}

.productive-section-title {
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    color: rgb(37, 36, 50);
    margin-bottom: 40px;

}




.productive {
    display: flex;
    justify-content: space-around;
    gap: 30px;

}

.productive-users-title {
    font-weight: 700;
    font-size: 80px;
    color: rgb(78, 71, 255);
}

.productive-users-sub-title {
    font-weight: 400px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* users-style */
.user-section {
    max-width: 1200px;
    margin-bottom: 60px;

}

.users-section-title {
    font-weight: 700;
    font-size: 38px;
    color: rgb(37, 36, 50);
    text-align: center;
    margin-top: 130px;


}

.users-container {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.users-box {
    box-sizing: border-box;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    /* width: 365px; */

}


.users-box h3 {
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    color: rgb(30, 30, 30);
}

.users-box p {
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: rgb(30, 30, 30);

}

.reviewer {
    display: flex;
    gap: 10px;
    align-items: center;

    margin: 20px;

}

.reviewer-img {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    margin: 0;
    padding: 0;
    display: block;


}


.reviewer-info {
    text-align: left;
    justify-content: center;


}

.reviewer-info strong {
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    color: rgb(117, 117, 117);
}

.reviewer-info p {
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: rgb(179, 179, 179);
    margin: 2px 0 0;
}

/* focus-section-style */

.focus-section {
    /* position: absolute; */
    max-width: 1200px;
    align-items: center;
    padding: 71px 100px 71px 100px;
    gap: 20px;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 300px;
    justify-content: center;

}

.focus-section-better-title {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 50px;
    text-align: center;

}

.focus-section-better-sub-title {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

.focus-section-image {
    width: 840px;
    height: 365px;
    border-radius: 48px;
    margin-top: 40px;

}

.better-btn {
    margin-top: 20px;
}


/* contact-style */

.contact-section {
    margin-top: 80px;
    max-width: 1250px;
}

.contact-section-container {
    display: flex;

}

.contact-section-title {
    font-weight: 700px;
    font-size: 97px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-top: 90px;


}




.contact-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    align-items: flex-start;
}

.contact-form label {
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: rgb(0, 0, 0);
    display: block;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    box-sizing: border-box;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background-color: white;
    padding: 32px 20px;
    width: 497px;
}

.btn-contact {
    width: 497px;
}

/* footer-style */
.footer-section {
    background-color: white;
    margin-top: 100px;
    padding: 10px 15px;
}

.footer-section-description {
    max-width: 530px;
    margin-bottom: 102px;
    margin-top: 104px;
}

.footer-section-description h1 {
    font-weight: 900;
    font-size: 100px;
    text-align: center;
    color: rgb(78, 71, 255);
}

.footer-section-description p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgb(137, 135, 161);
}



nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;


}


nav ul li {
    list-style: none;

}

nav li a {
    text-decoration: none;
    color: rgb(137, 135, 161);
    font-weight: 400px;
    font-size: 16px;

}