* {
    box-sizing: border-box;
    margin: 0px auto;
}

.head-section {
    background: rgb(245, 248, 255);
    max-width: 1500px;
    background-image: url(./images/Hero-bg.png);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 50px 0px;

}

.nav-title {
    font-weight: 900px;
    font-size: 34px;
    color: #4e47ff;
}

.btn-all {
    font-weight: 700px;
    font-size: 16px;
    color: white;
    background-color: rgb(78, 71, 255);
    border-radius: 10px;
    border: none;
    width: 132px;
    height: 48px;
}

.banner {
    text-align: center;
    margin: 300px 267.5px 280px 267.5px;
    height: 600px;
}

.banner-title {
    font-weight: 700px;
    font-size: 65px;
    color: rgb(37, 36, 50);
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}